.films-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: hidden;
  }
  
  .film-card {
   
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 250px;
    text-align: center;
    background-color: #ea3e3e;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .film-card img {
    max-width: 100%;
    height: 60%;
  }

  .film-Title {
   display: inline;
  }
  
  
 
  